{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% trans 'Your shopping Cart' %} {% endblock %}

{% block content %}
<h1>{% trans 'Your shopping cart' %}</h1>
<table class="cart">
    <thead>
    <tr>
        <th>{% trans 'Image' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Quantity' %}</th>
        <th>{% trans 'Remove' %}</th>
        <th>{% trans 'Unit Price' %}</th>
        <th>{% trans 'Price' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{item.get_absolute_url}}">
                        <img src="{% if product.image %} {{product.image.url}}{%else %} {% static 'img/no_image.png' %} {%endif%}">
                    </a>
                </td>
                <td>{{product.name}}</td>
                <td>
                    <form method="post" action="{% url 'cart:cart_add' product.id %}">
                        {% csrf_token %}
                        {{ item.product_update_form.quantity }}
                        {{ item.product_update_form.override }}
                        <input type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form action='{% url "cart:cart_remove" product.id %}' method="post">
                        <input type="submit" value="{% trans 'Remove Item' %}">
                        {% csrf_token %}
                    </form>
                </td>
                <td>{{item.price}}</td>
                <td>{{item.total_price}}</td>
            </tr>
            {% if cart.coupon %}
                <tr class="subtotal">
                    <td>{% trans 'Subtotal' %}</td>
                    <td colspan="4"></td>
                    <td class="num">${{cart.get_total_price|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>
                        "{{cart.coupon.code}}" coupon
                        ({{cart.coupon.discount}} off)
                    </td>
                    <td colspan="4"></td>
                    <td class="num neg">
                        - ${{cart.get_discount|floatformat:2}}
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    {% endfor %}
    <tr>
        <td>{% trans 'Total' %}</td>
        <td colspan="4"></td>
        <td class="num">${{cart.get_price_after_coupon|floatformat:2}}</td>
    </tr>
    </tbody>
</table>
<div class="coupon">
    <p>{% trans 'Apply a Coupon' %}</p>
    <form action="{% url 'coupons:apply' %}" method="post">
        {{coupon_apply_form}}
        {% csrf_token %}
        <input type="submit" value="{% trans 'Apply' %}">
    </form>
</div>

<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">{% trans 'Continue Shopping' %}</a>
    <a href="{% url 'orders:order_create' %}" class="button">{% trans 'Checkout' %}</a>
</p>
{% endblock %}