<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eShop By Zee</title>
</head>
<body>
<h1>eShop by Zee</h1>
<p>
  Invoice number {{order.id}}<br>
  <span class="secondary">{{order.create|date:"M, d, Y"}}</span>
</p>
<h3>Bill to:</h3>
<p>
  {{order.first_name}}<br>
  {{order.email}}<br>
  {{order.address}}<br>
  {{order.city}}
</p>

<div class="module">
    <h2>Items bought</h2>
    <table style="width:100%">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
            <tr class="row{% cycle '1' '2' %}">
                <td>{{item.product.name}}</td>
                <td class="num">{{item.price}}</td>
                <td class="num">{{item.quantity}}</td>
                <td class="num">{{item.get_cost}}</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td colspan="3">Total</td>
            <td class="num">${{order.get_total_cost}}</td>
        </tr>
        </tbody>
    </table>
</div>
<span class="{% if order.paid}paid{%else%}pending{%endif}">
  {% if oder.paid%}Paid{% else %}Payment Pending{%endif%}
</span>
</body>
</html>